.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}
.carosel{
  width: 3838px;
  height: 413px;
  left: -1203px;
  top: 279px;
  
}
.body{
  display:flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}