.card{
    display:flex;
    margin-right: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border:2px solid #D1D1D1;
    margin-top: 5px;
    width: 441px;
    height: 142px;

}
.image{
    flex-basis: 30%;
    height:141px;
    border-radius: 5px;
}
.text{
    flex-basis: 70%;
    display: flex;
    
    
}

.header{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;
text-transform: capitalize;
}
.recent-item{
    margin-right: 20px;
}