.card{
    display:flex;
    margin-right: 7px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.image{
    flex-basis: 30%;
    height:100px;
    
}
.text{
    flex-basis: 70%;
    display: flex;
    
    
}