.decor-text{
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 42px;
display:flex;
justify-content: flex-end;
align-items: center;
}
.decor{
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: 315px;
}
.disc{
    display: flex;
    flex-direction: row;
    justify-content: center;
align-items: center;

}
.disc-image{
    height:128px;
    width:475px;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.disc-card{
    display: flex;
    flex-direction: row;
    width:968px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 315px ;
}